<!doctype html>
<html>
  <head>
    <title>김민기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=defice-width, initial-scale=1, shrink-to-fit=no">
    <!-- apply bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- apply custom CSS-->
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body>
    {{>header}}

    <section id="contact" class="bg-white">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-6">
            <h2 class="mt-5">Contact</h2>
            <div class="d-flex flex-row">
              <div class="p-3 align-self-start">
                <img src="./img/check2.svg">
              </div>
              <div class="p-3 align-self-end" style="text-align: justify">
                77wer153@gmail.com
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-3 align-self-start">
                <img src="./img/check.svg">
              </div>
              <div class="p-3 align-self-end" style="text-align: justify">
                2
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-3 align-self-start">
                <img src="./img/check.svg">
              </div>
              <div class="p-3 align-self-end" style="text-align: justify">
                3
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-3 align-self-start">
                <img src="./img/check.svg">
              </div>
              <div class="p-3 align-self-end" style="text-align: justify">
                4
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-3 align-self-start">
                <img src="./img/check.svg">
              </div>
              <div class="p-3 align-self-end" style="text-align: justify">
                5
              </div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-3 align-self-start">
                <img src="./img/check.svg">
              </div>
              <div class="p-3 align-self-end" style="text-align: justify">
                6
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card text-center card-form mt-4 mb-4">
              <div class="card-body">
                <h2>Inquiry</h2>
                <form>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="E-mail">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" placeholder="Phone">
                  </div>
                  <div class="form-group">
                    <textarea type="text" class="form-control form-control-lg" placeholder="Contents"></textarea>
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {{>footer}}
  <!-- apply jquery javascript -->
  <script src="./js/jquery.min.js"></script>
    <!-- apply popper Javascript -->
  <script src="./js/popper.min.js"></script>
  <!-- apply bootstrap javascript -->
  <script src=".js/bootstrap.min.js"></script>
</body>
</html>
