<!doctype html>
<html>
  <head>
    <title>김민기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=defice-width, initial-scale=1, shrink-to-fit=no">
    <!-- apply bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!-- apply custom CSS-->
    <link rel="stylesheet" href="./css/custom.css">
  </head>
  <body>
    <div id="home">
      {{>header}}
      <!-- create profile -->
      <section class="container mt-5 pt-5">
        <div class="text-center">
          <img src="./img/profile.jpg" class="img-fluid mt-5 mb-3 rounded-circle">
          <h2>Kim Minki</h2>
          <img src="./img/coffee.svg" class ="img-fluid mr-1">Programmer
        </div>
	    </section>
      <!-- create sub-profile -->
      <section id="career" class="bg-white text-dark mt-5 mb-3 pt-5 pb-4">
        <div class-"text-center">
          <div class="container text-left mb-5 mt-5" style="max-width: 480px;">
            <h2>Certificates</h2>
            <hr>
            <h4>English Fluency</h4>
            <ul>
              <li>TOEIC 930</li>
              <li>OPIC AL</li>
            </ul>
            <h4>Computer Science</h4>
              <ul>
                <li>Engineer Information Processing [정보처리기사]</li>
                <li>Engineer Computer System Application<br>[전자계산기조직응용기사]</li>
                <li>MOS Master(Excel, Access, PowerPoint, Word)</li>
                <li>Photoshop CS6</li>
              </ul>
            <h4>ETC</h4>
              <ul>
                <li>2nd Grade on Korean History Test<br>[한국사 검정능력시험 2급]</li>
              </ul>
          </div>
        </div>
      </section>
      {{>footer}}
    <!-- apply jquery javascript -->
    <script src="./js/jquery.min.js"></script>
      <!-- apply popper Javascript -->
    <script src="./js/popper.min.js"></script>
    <!-- apply bootstrap javascript -->
    <script src=".js/bootstrap.min.js"></script>
  </body>
</html>
