<footer class="text-center text-white ">
  <div class="footer-above pt-4 mt-4 mb-">
    <h3>Location</h3>
    <p>Cheongna, Incheon</p>

  </div>
  <div class="footer-below pb-4">
    <a href= "https://github.com/wer153?tab=repositories">
      <img src="./img/github.svg">
    </a>
    <a href= "http://brickout.herokuapp.com/">
      <img src="./img/mail.svg">
    </a>
    <a href= "http://brickout.herokuapp.com/">
      <img src="./img/message-square.svg">
    </a>
  </div>
</footer>
