<footer class="text-center bg-dark text-white">
  <div class="footer-above">
    <div class="container pt-4 mt-4">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Location</h3>
          <p>Cheongna, Incheon</p>
        </div>
        <div class="footer-col col-md-6 mb-2">
          <h3>Redirect</h3>
          <a href="https://github.com/wer153" class="btn btn-light m-2">Github</a>
          <a href="https://www.minki-blog" class="btn btn-light m-2">Blog</a>
        </div>
      </div>
    </div>
  </div>
  <div class="fotter-below pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Kim Minki 2020
        </div>
      </div>
    </div>
  </div>
</footer>
