<!-- create navigator -->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark ">
    <div class="container">
      <a href="index.html" class="navbar-brand">Kim Minki</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">me</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">profiles</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">skills</a>
          </li>
          <li class="nav-item">
            <a href="/portfolio" class="nav-link">Portfolio</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>
